<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert new Address</title>
<script>
	function inputValidation(){
		var x = document.forms["myForm"]["name"].value;
		var a = document.forms["myForm"]["address"].value
		var b = document.forms["myForm"]["city"].value
		var c = document.forms["myForm"]["zip"].value
		
		if(x=="" || a =="" || b=="" || c==""){
			alert("A field not filled in");
			return false;
		}
		
		if(isNaN(c)){
			alert("Zipcode must be a number")
			return false;
		}
		
	}
</script>
</head>
<body>
<form th:object="${newAddress}" th:action="@{/update/{id}(id=${newAddress.id})}" method=POST name="myForm" onsubmit="return inputValidation()">
		Name: <input name="name" size="20" th:field="*{name}"> <br />
		Address: <input name="address" size="20" th:field="*{address}"> <br />
		City: <input name="city" size="20" th:field="*{city}"> <br />
		ZipCode: <input name="zip" size="20" th:field="*{zip}"> <br />
		<input name="submit" type="submit" value="submit" />
	</form>
	<a href="viewAll">View all Addresses</a>
</body>
</html>